// out: grid.css, sourcemap: false, compress: false

/* Variables */

@header-height: 50px;
@footer-height: 50px;

@before-grid-height: 50px;
@after-grid-height: 50px;

@content-side-margin: 20px;

@grid-column-width: 120px;

@color-grey: #E0E0E0;
@color-grey-light: #EEEEEE;
@color-blue: #3092c0;
@color-white: #FFFFFF;

@color-content: @color-white;
@color-grid-header: @color-grey;

@swift-out: cubic-bezier(.55,0,.1,1);

/* MixIns */

.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.transition(@argument) {
    transition: @argument;
}

/* Common */

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.page-content {
    padding: @header-height 0 @footer-height 0;
}

/* Menus */

.menu {
    background-color: @color-blue;
    color: @color-white;
    position: fixed;
    padding: 20px;
    z-index: 200;
    width: 100%;
    left: 0;

    .shadow();

    &.header {
        height: @header-height;
        top: 0;
    }
    &.footer {
        height: @footer-height;
        bottom: 0;
    }
}

/* Page Contents */

.before-grid,
.after-grid {
    background-color: @color-content;
    position: fixed;
    padding: 20px @content-side-margin;
    z-index: 99;
    width: 100%;
    left: 0;
}
.before-grid {
    height: @before-grid-height;
    top: @header-height;
}
.after-grid {
    height: @after-grid-height;
    bottom: @footer-height;
}

/* Grid */

.grid-margin {
    background-color: @color-content;
    width: @content-side-margin;
    bottom: @footer-height;
    top: @header-height;
    position: fixed;
    z-index: 100;

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.grid {
    padding: @before-grid-height @content-side-margin @after-grid-height @content-side-margin;
    display: inline-block;

    &.grid-moved-right {
        .th:first-child,
        .td:first-child {
            border-right: 1px solid @color-grey;
        }
    }

    .thead {
        white-space: nowrap;
        position: relative;
        z-index: 99;

        .th {
            background-color: @color-grid-header;
        }
    }

    .tbody {
        white-space: nowrap;

        .tr {
            cursor: default;

            &:not(last-child) {
                border-bottom: 1px solid @color-grey;
            }

            &:hover {
                .td {
                    background-color: @color-grey-light;
                }
            }

            .td {
                background-color: @color-content;
            }
        }
    }

    .tr {
        padding-left: @grid-column-width;
        position: relative;
    }

    .th,
    .td {
        display: inline-block;
        white-space: nowrap;
        padding: 10px;
        width: @grid-column-width;

        &:first-child {
            border-right: 1px solid transparent;
            position: absolute;
            height: 100%;
            left: 0;

            .transition(border-right-color 500ms @swift-out);
        }
    }
}
