/* Variables */
/* MixIns */
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* Common */
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.page-content {
  padding: 50px 0 50px 0;
}
/* Menus */
.menu {
  background-color: #3092c0;
  color: #FFFFFF;
  position: fixed;
  padding: 20px;
  z-index: 200;
  width: 100%;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.menu.header {
  height: 50px;
  top: 0;
}
.menu.footer {
  height: 50px;
  bottom: 0;
}
/* Page Contents */
.before-grid,
.after-grid {
  background-color: #FFFFFF;
  position: fixed;
  padding: 20px 20px;
  z-index: 99;
  width: 100%;
  left: 0;
}
.before-grid {
  height: 50px;
  top: 50px;
}
.after-grid {
  height: 50px;
  bottom: 50px;
}
/* Grid */
.grid {
  padding: 50px 20px 50px 20px;
  display: inline-block;
}
.grid-margin {
  background-color: #FFFFFF;
  width: 20px;
  bottom: 50px;
  top: 50px;
  position: fixed;
  z-index: 100;
}
.grid-margin.left {
  left: 0;
}
.grid-margin.right {
  right: 0;
}
.thead {
  white-space: nowrap;
  position: relative;
  z-index: 99;
}
.tbody {
  white-space: nowrap;
}
.tbody .tr {
  cursor: default;
}
.tbody .tr:not(last-child) {
  border-bottom: 1px solid #E0E0E0;
}
.tbody .tr:hover .td {
  background-color: #EEEEEE;
}
.tr {
  padding-left: 120px;
  position: relative;
}
.th {
  background-color: #E0E0E0;
}
.td {
  background-color: #FFFFFF;
}
.th,
.td {
  display: inline-block;
  white-space: nowrap;
  padding: 10px;
  width: 120px;
}
.th:first-child,
.td:first-child {
  position: absolute;
  height: 100%;
  left: 0;
}
